*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: BentonSans, Arial, Noto Sans, sans-serif;
}
.sub-top-navbar {
  width: 100vw;
  height: 8vh;
  background-color: #03a9f4;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.sub-top-navbar > div:nth-child(1) {
  /* width: 200px; */
  margin: 0 60px;
  display: flex;
  flex-basis: 150px;
  padding: 10px 0;
}
.sub-top-navbar > div:nth-child(1) > img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.sub-top-navbar > div:nth-child(2) {
  /* width: 500px; */
  display: flex;
  flex-basis: 525px;
  justify-content: space-between;
  align-items: center;
}
.sub-top-navbar > div:nth-child(2) > .dropdown {
  display: flex;
  height: 100%;
  position: relative;
}
.dropdown a:hover {
  background-color: rgb(147 197 253/0.5);
}
.sub-top-navbar > div:nth-child(2) > .dropdown > .dropdown-btn {
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  padding: 0 8px;
}
.dropdown-content-1 {
  width: 232px;
  height: 250px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  z-index: 1;
}
.dropdown a {
  all: unset;
  color: rgb(87, 86, 86);
  cursor: pointer;
  padding: 12px 14px;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover {
  background-color: #0398dc;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-1 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-2 {
  width: 460px;
  height: 350px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-2 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-3 {
  width: 460px;
  height: 430px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-3 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-4 {
  width: 270px;
  height: 222px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 1;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-4 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-5 {
  width: 230px;
  height: 170px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 1;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-5 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-6 {
  width: 460px;
  height: 430px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-6 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-7 {
  width: 400px;
  height: 230px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-7 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.sub-top-navbar > div:nth-child(3) {
  width: 400px;
  border: 1px solid red;
  height: 100%;
  display: flex;
  margin-left: 120px;
}
