*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: BentonSans, Arial, Noto Sans, sans-serif;
  background-color: #f9f9fb;
}
#navbar-container {
  position: sticky;
  top: 0;
}
.sub-top-navbar {
  width: 100vw;
  max-width: 100%;
  height: 8vh;
  background-color: #03a9f4;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.sub-top-navbar > div:nth-child(1) {
  /* width: 200px; */
  margin: 0 60px;
  display: flex;
  flex-basis: 150px;
  padding: 10px 0;
}
.sub-top-navbar > div:nth-child(1) > img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.sub-top-navbar > div:nth-child(2) {
  /* width: 500px; */
  display: flex;
  flex-basis: 525px;
  justify-content: space-between;
  align-items: center;
}
.sub-top-navbar > div:nth-child(2) > .dropdown {
  display: flex;
  height: 100%;
  position: relative;
}
.dropdown a:hover {
  background-color: rgb(147 197 253/0.5);
}
.sub-top-navbar > div:nth-child(2) > .dropdown > .dropdown-btn {
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  padding: 0 8px;
}
.dropdown-content-1 {
  width: 232px;
  height: 250px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  z-index: 1;
  background-color: white;
}
.dropdown a {
  all: unset;
  color: rgb(87, 86, 86);
  cursor: pointer;
  padding: 12px 14px;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover {
  background-color: #0398dc;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-1 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-2 {
  width: 460px;
  height: 350px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-2 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-3 {
  width: 460px;
  height: 430px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-3 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-4 {
  width: 270px;
  height: 222px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-4 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-5 {
  width: 230px;
  height: 170px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-5 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-6 {
  width: 460px;
  height: 380px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-6 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-7 {
  width: 400px;
  height: 230px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(2) > .dropdown:hover .dropdown-content-7 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.sub-top-navbar > div:nth-child(3) {
  width: 450px;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
}
.fantasy-logo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.fantasy-logo > img {
  width: 20%;
}
.fantasy-logo > button {
  margin-left: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
}
.sub-top-navbar > div:nth-child(3) > div:nth-child(2) > .dropdown-btn {
  margin-left: 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
}
/* .sub-top-navbar > div:nth-child(3) .dropdown  */
.sub-top-navbar > div:nth-child(3) > .dropdown:hover,
.sub-top-navbar > div:nth-child(3) > .fantasy-logo:hover,
.sub-top-navbar > div:nth-child(3) > .theme-logo:hover,
.sub-top-navbar > div:nth-child(3) > .notifications-logo:hover,
.sub-top-navbar > div:nth-child(3) > .search-logo:hover {
  background-color: #0398dc;
  cursor: pointer;
}
.theme-logo > i,
.search-logo > i,
.notifications-logo > i,
.sub-top-navbar > div:nth-child(3) .dropdown > i {
  padding: 24px 12px;
}
.dropdown-content-8 {
  width: 440px;
  height: 260px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  right: 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(3) > .dropdown:hover .dropdown-content-8 {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-9 {
  width: 190px;
  height: 90px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  right: 138px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 1;
  background-color: white;
}
.sub-top-navbar > div:nth-child(3) > .dropdown:hover .dropdown-content-9 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.dropdown-content-10 {
  width: 370px;
  height: 150px;
  /* border: 1px solid red; */
  position: absolute;
  top: 53px;
  right: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  z-index: 1;
  background-color: white;
}
.dropdown-content-10 > span img {
  width: 100%;
}
.sub-top-navbar > div:nth-child(3) > .dropdown:hover .dropdown-content-10 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
#container {
  width: 100vw;
  max-width: 100%;
  /* height: 900px; */
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
}
#container-left {
  width: 300px;
  /* border: 1px solid blue; */
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #fff;
}
#container-center {
  width: 600px;
  /* border: 1px solid blue; */
  margin-top: 20px;
  background-color: #fff;
  /* margin-left: 60px; */
}
#container-right {
  width: 300px;
  /* border: 1px solid blue; */
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #fff;
}
#asksection {
  /* width: 100%; */
  height: 230px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  margin-bottom: 20px;
}
#asksection > img {
  width: 50%;
}
#asksection > p {
  color: rgb(87, 86, 86);
  text-align: center;
}
#asksection > button {
  padding: 10px 60px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 9999px;
  border: 1px solid #3ebdf6;
  color: #49c1f7;
  font-weight: bold;
  font-size: 16px;
}
#asksection > button:hover {
  cursor: pointer;
  background-color: #cceefd;
}
#key-series,
#quick-links,
#espncricinfo-apps,
#follow-espncricinfo,
#espn-sites,
#news-headlines,
#image-news {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 20px;
  /* justify-content: center; */
}
#image-news {
  padding: 14px;
}
#key-series > p,
#quick-links > p,
#espncricinfo-apps > p,
#follow-espncricinfo > p,
#espn-sites > p,
#news-headlines > p {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 0;
}
#key-series > div,
#quick-links > div,
#espncricinfo-apps > div,
#follow-espncricinfo > div,
#espn-sites > div,
#news-headlines > div {
  display: flex;
  /* margin-left: 16px; */
  /* margin-top: 16px; */
  padding: 10px;
  column-gap: 20px;
}
#key-series > div > p,
#quick-links > div > p,
#espncricinfo-apps > div > p,
#follow-espncricinfo > div > p,
#espn-sites > div > p,
#news-headlines > div > p {
  color: rgb(87, 86, 86);
  font-size: 14px;
}
#image-news > div > p {
  font-size: 14px;
  color: rgb(87, 86, 86);
  margin-top: 10px;
  margin-bottom: 30px;
}
#key-series > div:hover,
#quick-links > div:hover,
#espncricinfo-apps > div:hover,
#follow-espncricinfo > div:hover,
#espn-sites > div:hover,
#news-headlines > div:hover {
  cursor: pointer;
  background-color: #cceefd;
}
hr {
  border-top: 0.1px solid lightgray;
}
#image-news > div {
  overflow: hidden;
}
#image-news > div > img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
#image-news > div > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#headline-news {
  /* border: 0.5px solid black; */
  border-radius: 8px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow: hidden;
}
#headline-news > h2,
#headline-news > p {
  color: white;
}
#headline-news > h2 {
  padding: 12px;
}
#headline-news > p {
  padding: 0 12px 12px 12px;
}
#headline-news > img {
  width: 100%;
  transition: transform 0.5s ease;
}
#headline-news > img:hover {
  transform: scale(1.1);
}
