

#mm{
    display: flex;
   

  }
    #mainside{
     
      width: 30%;
    }

    #top{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 95%;
        margin-left: 2%;
        border: 1px solid;
        border-radius: 10px;
        height: 50px;
         margin-top: 15px;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         border: 0px;
    
    }
    .h{
  margin-left: 20%;
   padding-bottom: 5px;
   cursor: pointer;
   position: relative;
   text-decoration: none;
  
    }
    h:after{
content: "";
position: absolute;
background-color: dodgerblue;
height: 4px;
width: 0px;
left: 0px;
bottom: -10px;
    }
    h:hover:after{
        width: 100%;
    }

    #parent{
        width: 95%;
     margin-top: 15px;
        margin-left: 2%;
        display: flex;
    
    }
    .a{
        width: 50%;
        height: 230px;
     padding-left: 10px;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
        cursor: pointer;
    }
    .t{
   
        width: 95%;
      
        display: block;
        margin-left: 2%;
       margin-top: -50%;
        height: 30px;
     padding-bottom: 20px;
    margin-top: 15px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         border: 0px;
    }
    .time{
        font-size: 13px;
        font-weight: bold;
    }
    .s{
        font-size: 12px;
        margin-top: -6px;
    }
    .logo{
        width: 9%;
    }
    .lob{
        display: flex;
    }
    h4{
        margin-left: 10px;
    }
    .tt{
        margin-top: -5px;
    }
    .run{
        margin-left: 60%;
    }
    .score{
        margin-left: 65px;
    }
    #sidebar{
       
        height: 250px;
        width: 100%;
        margin-right: 35px;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    #grey{
     color: gray;
    }
    .b{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 40px;
    
    }
    .b>h5{
     padding-top: 10px;
    }
    .q{
    font-size: 15px;
    font-weight: bold;
    margin-left: 55px;
    }
    .w{
        font-size: 15px;
        margin-left: 55px;
    }
    .home{
        width: 100%;
        height: 23px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    margin-top: -15px;
    }
    .d1{
        height: 230px;
        width: 90%;
        margin-right: 35px;
        margin: auto;

  
    }
    .d1>img{
        width: 100%;
      margin-top: 20px;
    }
    .s1{
      cursor: pointer;
        height: 250px;
        width: 100%;
        margin-right: 35px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        padding-bottom: 10px;
    }
    #ndparent{
        width: 95%;
     margin-top: 25px;
        margin-left: 2%;
        display: flex;
    
    }
    #ndparent>div{
        width: 50%;
        height: 350px;
   
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }

    #ndparent>div>img{
        width: 100%;
        height: 250px;
    }
    #sin{
        width: 95%;
        height: 250px;
    }
    #sin>img{
        width: 100%;
        height: 300px;
    }
    .as{
        margin-left: 15px;
    }
    .dd{
        margin-left: 15px;
    padding-top: 12px;
    }
    @media all and (min-width:320px) and (max-width:700px){

        
    #top{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 95%;
        margin-left: 2%;
        border: 1px solid;
        border-radius: 10px;
        height: 50px;
         margin-top: 15px;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         border: 0px;
    
    }
    }
    @media all and (min-width:100px) and (max-width:320px){

        
        #top{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 95%;
            margin-left: 2%;
            border: 1px solid;
            border-radius: 10px;
            height: 50px;
             margin-top: 15px;
             box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
             border: 0px;
        
        }
        }

        @media all and (min-width:420px) and (max-width:780px){
            

#mm{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
    #mainside{
     
      width: 30%;
    }
        }
        
        @media all and (min-width:100px) and (max-width:419px){
            

            #mm{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                gap: 10px;
              }
                #mainside{
                 
                  width: 30%;
                }
                    }