#navbar{
    height:8vh;
}
#parent{
    display: flex;
    border: 1px solid;
    text-align: center;
}
/* part 1 */
#part1{
    width: 36%;
    margin: 0 auto;
    border: 1px solid ;
}
h1,h2{
    margin: 3% auto;
}
#tpnv{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    background-color: #5217b0;
    border-bottom: 1px solid #5217b0;
}
#tpnv>div:nth-child(1){
    background-color: white;
    border-radius: 20%;
    font-weight: bold;
}
#name{
    margin: 15px;
}
#tpnv>div>a>img{
    height: 100%;
}
#fantasy{
    position: relative;
    top: 20vh;
    font-size: 20px;
    color: #5217b0;
}
span{
    color: #F9DC1C;
}
/* part 2 */
#part2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64%;
    margin: auto;
    background-image: url("https://i2-prod.mirror.co.uk/incoming/article10871802.ece/ALTERNATES/s1200d/Surrey-v-Essex-Eagles-NatWest-T20-Blast-BESTPIX.jpg");
    background-size: cover;
    height:91vh;
    color: white;
    font-size: 18px;
}
.img{
    margin: auto;
    text-align: center;
}
.img>img{
    width: 18vh;
}
#part2 span{
    color: #F9DC1C;
}
#part2 a>img{
    width: 25vh;
    margin: 0 3px;
}

@media all and (min-width:320px) and (max-width:890px)
{
    #parent{
        background-image: url("https://i2-prod.mirror.co.uk/incoming/article10871802.ece/ALTERNATES/s1200d/Surrey-v-Essex-Eagles-NatWest-T20-Blast-BESTPIX.jpg");
        background-size: cover;
        height:91vh;
    }
    .img{
        margin-top: 18vh;
    }
    .img>img{
        width: 15vh;
    }
    #part1{
        background-color: white;
        width: 80vh;
        height: 91vh;
        font-size: 14px;
    }
    #part2{
        display: none;
    }
}